---
http_interactions:
- request:
    method: get
    uri: https://mempool.space/signet/api/address/miWUVwvAChPzRkXKiYLfcNejxBteZwrNdF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Onion-Location:
      - http://mempoolhqx4isw62xs7abwphsq7ldayuidyx2v2oethdhhj6mlo2r6ad.onion/signet/api/address/miWUVwvAChPzRkXKiYLfcNejxBteZwrNdF
    body:
      encoding: UTF-8
      string: '{"address":"miWUVwvAChPzRkXKiYLfcNejxBteZwrNdF","chain_stats":{"funded_txo_count":3,"funded_txo_sum":760770,"spent_txo_count":1,"spent_txo_sum":331328,"tx_count":3},"mempool_stats":{"funded_txo_count":1,"funded_txo_sum":98114,"spent_txo_count":1,"spent_txo_sum":99414,"tx_count":1}}'
  recorded_at: Mon, 07 Jul 2025 05:38:22 GMT
- request:
    method: get
    uri: https://mempool.space/signet/api/address/miWUVwvAChPzRkXKiYLfcNejxBteZwrNdF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Onion-Location:
      - http://mempoolhqx4isw62xs7abwphsq7ldayuidyx2v2oethdhhj6mlo2r6ad.onion/signet/api/address/miWUVwvAChPzRkXKiYLfcNejxBteZwrNdF
    body:
      encoding: UTF-8
      string: '{"address":"miWUVwvAChPzRkXKiYLfcNejxBteZwrNdF","chain_stats":{"funded_txo_count":3,"funded_txo_sum":760770,"spent_txo_count":1,"spent_txo_sum":331328,"tx_count":3},"mempool_stats":{"funded_txo_count":1,"funded_txo_sum":98114,"spent_txo_count":1,"spent_txo_sum":99414,"tx_count":1}}'
  recorded_at: Mon, 07 Jul 2025 05:38:23 GMT
recorded_with: VCR 6.3.1
